

body{
    width: 970px;
    //display: flex;
    margin: 0;
}

.header{
    height: 70px;
    width: 100%;
    background-color: red;
}
.slider{
    height: 150px;
    width: 700px;
    background-color: blue;
   float: left;
}
.popular_articles{
    float: right;
    height: 150px;
    width: 270px;
    background-color: green;
    
}
.menu{
    float: left;
    height: 30px;
    width: 100%;
    background-color: yellow;
}
.menu2{
   
    float: left;
    width: 250px;
    background-color: violet;
}
.content{
    
    float: right;
    height: 100%;
    width: 720px;
    background-color: orange;
    
}
.footer{
    float: left;
    height: 50px;
    width: 100%;
    background-color: lightblue;
}
.contener{
    float: left;
    width: 100%;
    height: 100%;
    background-color: violet;
}